<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Exitoso</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
<div style="background-color: white; padding: 30px; border-radius: 10px; max-width: 600px; margin: auto;">
    <h2>Hola <span th:text="${name + ' ' + lastName}"></span>,</h2>
    <p>Has cambiado la contraseña de forma exitosa.</p>
    <p>Si no has sido tu, contacta nuestro equipo de soporte</p>
    <p style="color: #888;">El equipo de CopBalance</p>
</div>
</body>
</html>